p {
    font-family: Trebuchet, Verdana, Arial, Helvetica, sans-serif;
    }
   
    H1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    }
   
    H2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    }
   
    H3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    }